.thinking-senchou {
    background: url("senchou.png") no-repeat center, linear-gradient(90deg, black, black);
    height: 12rem;
    width: 12rem;
    border-radius: 50%;
    position: relative;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    font-family: arial;
}

.thinking-senchou::after,
.thinking-senchou::after {
    --scale: 0;
    background-color: rgba(173, 216, 230, 0.5);
    position: absolute;
    padding: 1rem 2.2rem;
    content: attr(data-tooltip);
    font-size: 1.3rem;
    top: -5rem;
    left: 50%;
    transform: translateX(-50%) scale(var(--scale));
    width: max-content;
    border-radius: 0.4rem;
    transition-duration: 300ms;
    transition-timing-function: ease-in-out;
    transform-origin: bottom center;
}

.thinking-senchou::before {
    content: "";
    width: 3rem;
    height: 3rem;
    background-color: black;
}

.thinking-senchou:hover::after {
    background-color: lightyellow;
    --scale: 1;
}